@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Exo', sans-serif;
    margin: 0;
    background-color: #333;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 2px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  #circle{
    width: 20vw; /* ความกว้าง */
    height: auto; /* ความสูง */
    background: red; /* สี */
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 200px;
  }
  #name{
      color: #f1f1f1;
      line-height: 15px;
  }
  #position{
      color: aquamarine;
      padding-top: ;
  }
  hr{
      border-left: 0;
      width: 35vw;
  }
  hr.style {
	background-color: #fff;
}